<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928475382565-2e4e8nv7e1r1oumbufd41kncpci1iuov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928475382565-2e4e8nv7e1r1oumbufd41kncpci1iuov</string>
	<key>API_KEY</key>
	<string>AIzaSyAIMHwGcrJCjBxFOpxVx3M9dhdvBewuUx4</string>
	<key>GCM_SENDER_ID</key>
	<string>928475382565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsApp</string>
	<key>PROJECT_ID</key>
	<string>whats-app-aec2e</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-app-aec2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928475382565:ios:918839f99ae0dcb802d0cc</string>
</dict>
</plist>